<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Handling Form Submission</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body>
    </div>
    <div th:if="${result == 'userAdded'}" class='alert alert-success'>Novo usuário <span th:text="${user}"></span> adicionado
    </div>
    <div th:if="${result == 'userUpdated'}" class='alert alert-success'>Usuário atualizado
    </div>
    <div th:if="${result == 'userDeleted'}" class='alert alert-danger'>Usuário deletado
    </div>
    <div th:if="${result == 'failedAdded'}" class='alert alert-warning'>Erro ao incluir o usuário <span th:text="${user}"></span>
    </div>
    <div align="center" class="mb-2 mt-4">
        <table  class="table-striped table-bordered table-hover" 
                style="width: 80%; text-align: center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuarioStat.index+1}" />
                    <td th:text="${usuario.nome}" />
                    <td class='text-success' th:if="${usuario.status == true}" th:text="Ativado" />
                    <td class='text-danger' th:if="${usuario.status == false}" th:text="Desativado" />
                    <td>
                        <div class='col-md-12'>
                            <div class="row">
                                <div class='col-md-6'>
                                    <button type="button" class="btn mb-1 btn-info btn-lg btn-block text-white" data-toggle="modal" 
                                            th:attr="data-target = '#modal'+${usuario.id}">
                                        Editar
                                    </button>
                                </div>
                                <div class='col-md-6'>
                                    <form th:action="@{/deleteUsuario}"  th:object="${usuario}" method="post">
                                        <input onclick="return confirm('Quer mesmo remover ?');" 
                                               type="submit" value="Remover" class="btn btn-danger btn-lg btn-block" />
                                        <input type="hidden" name="id" th:value="${usuario.id}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:each="usuario: ${usuarios}" class="modal fade" th:attr="id = 'modal'+${usuario.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <h4 class="title text-muted text-center">Editar Usuario</h4>                                
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--MODAL EDIT USER-->
                    <div class="modal-body mb-0">
                        <form action="#" th:action="@{/editUsuario}" th:object="${usuario}" method="post">
                            <div class='col-md-12'>
                                <div class='col-md-12 mb-2'>
                                    <div class='row'>
                                        <div class='col-md-3'>
                                            <label class='text-muted'>Username</label>
                                        </div>
                                        <div class='col-md-9 mb-2'>
                                            <input name="username" th:value="*{username}" title="Username" type="text" class="form-control" id="username" placeholder="Username" maxlength ="15" required>
                                        </div>
                                        <div class='col-md-3'>
                                            <label class='text-muted'>Nome Completo</label>
                                        </div>
                                        <div class='col-md-9 mb-2'>
                                            <input name="nome" th:value="*{nome}" title="Nome Completo" type="text" class="form-control" id="nome" placeholder="Nome Completo" maxlength ="80" required>
                                        </div>
                                        <div class='col-md-3'>
                                            <label class='text-muted'>Senha</label>
                                        </div>
                                        <div class='col-md-9 mb-4'>
                                            <input name="password" th:value="*{password}" title="Senha" type="password" class="form-control" id="password" placeholder="Senha" value="" maxlength ="50" required>
                                        </div>
                                        <input name="id"  th:value="*{id}" type="hidden" id="id">
                                        <input name="dataCadastro"  th:value="*{dataCadastro}" type="hidden" id="dataCadastro">
                                    </div>
                                    <div class='col-md-12 mb-2'>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                <label class='text-muted'>Status Ativação</label>
                                            </div>
                                            <div class='col-md-3'>
                                                <input th:field="*{status}" class="form-check-input" type="radio" name="status" id="status" value="true">
                                                <label class='text-muted'>Ativado</label>
                                            </div>
                                            <div class='col-md-3'>
                                                <input th:field="*{status}" class="form-check-input" type="radio" name="status" id="status" value="false">
                                                <label class='text-muted'>Desativado</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-12 mb-2'>
                                        <div class='row'>
                                            <div class='col-md-3'>
                                                <label class='text-muted'>Papéis</label>
                                            </div>
                                            <div class='col-md-2'>
                                                <input th:field="*{admin}" class="form-check-input" type="checkbox" name="admin" id="admin" value="true">
                                                <label class='text-muted'>Admin</label>
                                            </div>
                                            <div class='col-md-2'>
                                                <input th:field="*{papel1}" class="form-check-input" type="checkbox" name="papel1" id="papel1" value="true">
                                                <label class='text-muted'>Papel 1</label>
                                            </div>
                                            <div class='col-md-2'>
                                                <input th:field="*{papel2}" class="form-check-input" type="checkbox" name="papel2" id="papel2" value="true">
                                                <label class='text-muted'>Papel 2</label>
                                            </div>
                                            <div class='col-md-2'>
                                                <input th:field="*{papel3}" class="form-check-input" type="checkbox" name="papel3" id="papel3" value="true">
                                                <label class='text-muted'>Papel 3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <p><input type="submit" value="Atualizar" class='btn btn-success' />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>

        <div class='col-md-12'>
            <div class='row'>
                <div class='col-md-5'>
                    <a class='btn btn-lg btn-success mt-4' th:href="@{/}">Adicionar novo Usuário</a> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>
